.progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress {
    height: 20px;
    background-color: #4caf50; /* Color de la barra de progreso completada */
    transition: width 0.3s ease-in-out;
  }

  .progress-bar1{
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
  }

  .progress1 {
    height: 20px;
    background-color: #df5e1e83; /* Color de la barra de progreso completada */
    transition: width 0.3s ease-in-out;
  }
  